PortTesterClient/Connected Services/PortTesterServiceProxy/com.soumya.porttester.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="com.soumya.porttester" elementFormDefault="qualified" targetNamespace="com.soumya.porttester" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Ping">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="request" nillable="true" type="tns:PortTesterRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="PortTesterRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="ClientId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PortTesterRequest" nillable="true" type="tns:PortTesterRequest" />
  <xs:element name="PingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PingResult" nillable="true" type="tns:PortTesterResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="PortTesterResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ServerId" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PortTesterResponse" nillable="true" type="tns:PortTesterResponse" />
</xs:schema>